@model Ktvg.Crm.Models.ZaloOAuth

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZaloOAuth</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefreshToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefreshToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpireIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpireIn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
