@model Ktvg.Crm.Models.MessageLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MessageLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestPayload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestPayload)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsePayload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsePayload)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSuccessful)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSuccessful)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorMessage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
